<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="templates/welcome/css/mobile/style.css" />
</head>
<body>

	<div class="welcome-global-container" ng-controller="startup_ctrl">
		<!--
			<button ng-click="app.addPage('admin')">administration</button>
			<input type="text" placeholder="Ecrivez ici" />

			<div ng-init="appRoot.closeWindowsLoader()"></div>
		-->

		<div class="center-container-global">
			<div class="center-container">
				<div class="left">
					<div class="container top">
						CAM
              			<button ng-click="app.addSlide()">Ajouter des pages </button>
					</div>

					<div class="container bottom">
				
					</div>
				</div>
				<div class="center">
					<div class="container top">
				
					</div>

					<div class="container center">
				
					</div>

					<div class="container bottom">
				
					</div>
					<div class="container bottom">
				
					</div>
					<div class="container bottom">
				
					</div>
				</div>
			</div>

		</div>


	</div>
	

</body>
</html>