
<md-dialog class="cancelDialogStyle">
	<md-dialog-title>
		<md-button class="md-primary">Primary Hue 1</md-button>
               
	</md-dialog-title>
	<md-dialog-content class="scrollbar" style="height:auto;max-height:auto;min-height:auto;">
	  En savoir plus sur les Gadgets
		{{app}}

		<div style="height: 3000px;background-color: red;"></div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary">Primary Hue 1</md-button>
               
	</md-dialog-actions>
</md-dialog>