<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="templates/aide/css/pc/style.css" />
</head>
<body>

	<div class="aide-global-container" ng-controller="aide_ctrl">
		<div class="center-container-global">
			<div class="center-container">
				<div class="left">
					<div class="container top">
						Bienvenue dans la section aid
					</div>

					<div class="container bottom">
				
					</div>
				</div>
				<div class="center">
					<div class="container top">
				
					</div>

					<div class="container center">
				
					</div>

					<div class="container bottom">
				
					</div>
				</div>
			</div>

		</div>

	</div>
	

</body>
</html>